body{
    font-family: 'Space Grotesk', sans-serif;
}
.container{
    text-decoration: none;
    overflow: hidden;
    margin: auto;
    width: 80%;  
}
#coffee{
    position: relative; top:-10px; left: 5px;
}

/*
======================
Header
======================
*/

.mainHeader{
    text-align: center;
    font-size: 17px;
    width: 100%;
}
.mainHeader a{
    /*float: left;*/
    color:black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px 10px;
}
.mainHeader a.logo{
    font-size: 25px;
    font-weight: bold; 
    float: left;  
}
.Hright{
    float: right;
}
.Hright label{
    display: inline-flex;
    margin: 10px;
}
.Hright input{
    border: none;
}

.first{
    background-color: #FBFBFB;
    ;
}
/*
======================
grid
======================
*/
.grid{
    width: 1000px;   
    margin: 0 auto;
    margin-top: 40px;
}
.col-1-3{
    width: 29%;
}
.col-full{
    width: 100%;
}
.col-afull{
    width: 75%;
}
.col-small{
    width: 5%;
}
.col-1-2{
    width: 45.33%;
}
.col-2-3{
    width: 46.66%;
}
.col-1-2,
.col-1-3,
.col-2-3,
.col-full,
.col-afull,
.col-small{
    display: inline-block;
    vertical-align: top;
}
.col-small{
    vertical-align: bottom;
    padding: 20px;
}
.col-small a{
    padding-left: 40px;
}
.grid,
.col-1-3,
.col-1-2,
.col-2-3{
    padding-left: 15px;
    padding-right: 15px;
}
.second{
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.third{
    margin: 5px;
    border: gainsboro solid 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.fourth{
    background-color: #F7FAFC;
}

/*
==============================
footer
==============================
*/

.primary-footer{
    /*color: #648880;*/
    font-size: 14px;
    width: 100%;
    background-color: white;
    border-top: gainsboro 1px solid;
    margin-top: 100px;
}
.primary-footer small{
    float: left;
    font-weight: 400;
    color: black;
    margin: 0;
}
.primary-footer nav{
    float: right;
}
.primary-footer a{
    padding-left: 20px;
}
/*
==============================
Button
==============================
*/


.button{
    margin: 20px;
}
.btn{
    border-radius: 5px;
    color: white;
    cursor: pointer;
    letter-spacing: .5px;
    margin: 0;
}
.btn-alt{
    border: 1px solid rgb(106, 17, 114);
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(106, 17, 114);
    float: right;
    display: inline-flex;
}
/*
==============================
Typography
==============================
*/


h1, h2, h3{
    margin-bottom: 22px;
}
h1, h2, h3{
    color: #000;
}
h1{
    font-size: 60px;
    line-height: 44px;
}
h2{
    font-size: 40px;
    line-height: 44px;
}
h3{
    font-size: 18px;
    line-height: 44px;
}
p{
    color: rgb(67, 75, 75);
}
p a{
    border-bottom: 1px solid #dfe2e5;
}



/*
=================
second page
=================
*/
.intro{
    border-bottom: gainsboro 1px solid;
}
